.helpManager {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: var(--space-10);
}

.helpManager .left {
  border-right: 1px solid var(--color-gray-10);
}

.helpManager .right {
  padding: var(--space-20);
}

.helpManager .btn {
  padding: var(--space-10) !important;
  border-left: 3px solid transparent;
}

.helpManager .btn.active {
  border-left: 3px solid var(--color-accent);
}

.helpManager .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--space-20);
}

.helpManager .sectionTitle {
  padding-right: var(--space-20);
}

.helpManager .sectionSubtitle {
  font-size: var(--font-30) !important;
  color: var(--color-gray-80) !important;
  padding-bottom: var(--space-40);
}

.image {
  border: 1px dashed var(--color-gray-10) !important;
  border-radius: var(--radius);
}
