.help {
  display: block;
  /* position: fixed;
  bottom: var(--space-30);
  left: var(--space-30); */
}

@media screen and (max-width: 648px) {
  .help {
    display: none;
  }
}

.helpBtnRoot {
  color: var(--color-gray-70);
}
