.row {
  padding: var(--space-20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray-10);
}

@media screen and (max-width: 480px) {
  .row {
    flex-direction: column;
    align-items: flex-start;
  }
}

.shortcut {
  text-transform: uppercase;
  font-weight: var(--font-medium);
  font-size: var(--font-5);
  background: var(--color-gray-10);
  color: var(--color-gray-90);
  padding: calc(var(--space-10) / 1.5);
  border-radius: var(--radius);
  margin-left: var(--space-20);
}

@media screen and (max-width: 480px) {
  .shortcut {
    margin-top: var(--space-10);
    margin-left: 0;
  }
}
