.blurryBackground {
  left: 0px;
  user-select: none;
  overflow: hidden;
}

.absolute {
  position: absolute;
}
.fixed {
  top: -1050px;
  transform: scale(2.3);
  position: fixed;
}

.opacity10 {
  opacity: 0.1;
}
.opacity20 {
  opacity: 0.2;
}
.opacity30 {
  opacity: 0.3;
}
.opacity40 {
  opacity: 0.4;
}
.opacity50 {
  opacity: 0.5;
}
.opacity60 {
  opacity: 0.6;
}
