.pageControlsMobile {
  display: none;
}

@media screen and (max-width: 480px) {
  .pageControlsMobile {
    display: block;
  }
}

.pageControlsMobile .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.pageControlsMobile .menu .menuInner {
  position: relative;
  margin: var(--space-30);
  padding: var(--space-20);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-30);
  background: white;
}

.menuInner .closeBtn {
  position: absolute;
  top: var(--space-20);
  right: var(--space-20);
}

.menuInner .link {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: var(--space-10);
}

.menuInner .link:last-child {
  margin-bottom: 0;
}

.menuInner hr {
  margin: var(--space-20) calc(var(--space-20) * -1);
  border: 0;
  border-bottom: 1px solid var(--color-gray-20);
}

/* anim */
.animEnter {
  opacity: 0 !important;
  top: -10px !important;
}
.animEnterActive {
  opacity: 1 !important;
  top: 0 !important;
  transition: opacity 200ms, top 200ms;
}
.animExit {
  top: 0 !important;
  opacity: 1 !important;
}
.animExitActive {
  opacity: 0 !important;
  top: -10px !important;
  transition: opacity 200ms, top 200ms;
}
