.pageControls {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: var(--box-shadow-10);
  margin-bottom: var(--space-80);
  padding: var(--space-20) var(--space-40);
}

.pageControls.stripped {
  background: transparent;
  box-shadow: none;
}

@media screen and (max-width: 960px) {
  .pageControls {
    margin-bottom: calc(var(--space-80) * 1);
  }
}

.left {
  display: flex;
  align-items: center;
}

.logoContainer {
  padding: 0;
  margin: 0;
  margin-top: -4px;
  margin-right: var(--space-50);
}
.logoContainer a:focus {
  outline: none;
}

.btn {
  height: 35px !important;
}

.goToDashboardBtn {
  font-size: var(--font-10);
}

@media screen and (max-width: 648px) {
  .goToDashboardBtnRoot {
    display: none;
  }
}
