@media screen and (max-width: 480px) {
  .pageControlsDesktop {
    display: none;
  }
}

.pageControlsDesktop .links {
  display: flex;
  align-items: center;
}

.pageControlsDesktop .links > * {
  margin-right: var(--space-20);
}

.pageControlsDesktop .links > *:last-child {
  margin-right: 0;
}
