.indexedRow {
  display: flex;
  align-items: flex-start;
  list-style: none;
  position: relative;
  /* user-select: none; */
}

.indexedRow.dimmed {
  opacity: 0.6;
}

.index {
  padding-top: 4px;
  font-weight: var(--font-medium);
  font-size: var(--font-40);
  min-width: 50px;
  width: 50px;
  color: var(--color-gray-30);
}

.noAfter:after {
  content: "" !important;
}

.index:after {
  content: ".";
}
