.ul {
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-gray-3);
  margin: calc(var(--space-40) * -1);
  margin-top: var(--space-90);
  padding: var(--space-40);
  border-top: 1px solid var(--color-gray-10);
}

.footer .buttons {
  display: flex;
  align-items: center;
}

.footer .buttons button:first-child {
  margin-right: var(--space-10);
}
