.emojiPicker {
  width: 100px;
  height: 100px;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: var(--space-60);
  cursor: pointer;
  background: var(--color-gray-3);
}

@media screen and (max-width: 950px) {
  .emojiPicker {
    margin-left: 0;
    border: 1px solid var(--color-gray-20);
  }
}

.viewMode {
  cursor: auto;
}

.emojiPicker:focus:not(.viewMode) {
  outline: none;
  box-shadow: var(--box-shadow-ring-10);
}

.emojiPicker:hover:not(.viewMode) {
  background: var(--color-gray-3);
}

.emoji {
  font-size: var(--font-90) !important;
  display: block;
}

.emoji {
  transition: all var(--speed);
}

.emojiPicker:hover .emoji {
  transform: scale(1.3) rotate(1.5deg);
}
