.titleContainer {
  display: block;
  width: 100%;
  margin-bottom: var(--space-20);
}

.descriptionContainer {
  display: block;
  margin-bottom: var(--space-20);
}

.title {
  width: 100%;
  font-size: 1.8rem;
  font-weight: var(--font-semi-bold);
}

.controls {
  margin-top: -5px;
}

.description {
  width: 100%;
  font-size: 1.2rem;
  font-weight: var(--font-medium);
}
