.askForFeedbackModal {
  max-width: 360px;
}

.askForFeedbackModal p {
  margin: 0;
  padding-bottom: var(--space-20);
}

.askForFeedbackModal p:last-child {
  padding-bottom: 0 !important;
}

.askForFeedbackModal .footer {
  margin: calc(var(--space-20) * -1);
  margin-top: var(--space-10);
  padding: var(--space-20);
  border-top: 1px solid var(--color-gray-10);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
