.saveModal {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 768px;
}

.saveModal .title {
  margin-top: 0;
  padding-bottom: var(--space-40);
}

.saveModal .content {
  padding: var(--space-40);
}

.saveModal p {
  margin: 0;
  padding-bottom: var(--space-20);
}

.saveModal p:last-child {
  padding-bottom: 0;
}

.saveModal a {
  text-decoration: underline;
}

.saveModal a:hover {
  text-decoration: none;
}

.saveModal .meContainer {
  margin-top: calc(var(--space-40) * -1);
  margin-bottom: calc(var(--space-40) * -1);
  position: relative;
}

.saveModal .me {
  border: 1px solid red;
  object-fit: cover;
  object-position: left;
}

.saveModal .footer {
  margin: calc(var(--space-40) * -1);
  margin-top: var(--space-10);
  padding: var(--space-20);
  border-top: 1px solid var(--color-gray-10);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saveModal ul {
  padding-bottom: var(--space-20);
}

.saveModal strong {
  display: block;
  padding-bottom: var(--space-20);
}

.saveModal ul li {
  list-style-type: disc;
}

.saveModal small {
  font-size: var(--font-10);
  color: var(--color-gray-80);
}
