/* Basic editor styles */
.ProseMirror {
  outline: none;
  min-width: 100px;
  min-height: 100px;
  width: 100%;
  height: 100%;
  cursor: text;
  padding: var(--input-padding-y) var(--input-padding-x);
  border-radius: var(--radius);
  border: 0;
  box-shadow: var(--box-shadow);
}
.ProseMirror:focus,
.ProseMirror:active {
  box-shadow: var(--box-shadow-ring);
  cursor: auto;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: var(--color-gray-placeholder);
  pointer-events: none;
  height: 0;
}

.ProseMirror > * + *,
.ProseMirrorContent > * + * {
  margin-top: 0.75em;
}
.ProseMirror p,
.ProseMirrorContent p {
  margin: 5px 0 !important;
}
.ProseMirror ul li,
.ProseMirrorContent li {
  list-style-type: disc;
}
.ProseMirror ul li li,
.ProseMirrorContent li li {
  list-style-type: circle;
}
.ProseMirror ul li li li,
.ProseMirrorContent li li li {
  list-style-type: square;
}
.ProseMirror ul,
.ProseMirror ol,
.ProseMirrorContent ul,
.ProseMirrorContent ol {
  padding: 0 3rem;
}
.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6,
.ProseMirrorContent h1,
.ProseMirrorContent h2,
.ProseMirrorContent h3,
.ProseMirrorContent h4,
.ProseMirrorContent h5,
.ProseMirrorContent h6 {
  line-height: 1.1;
}
.ProseMirror h1,
.ProseMirrorContent h1 {
  font-size: var(--font-50);
}
.ProseMirror h2,
.ProseMirrorContent h2 {
  font-size: var(--font-40);
}
.ProseMirror h3,
.ProseMirrorContent h3 {
  font-size: var(--font-30);
}
.ProseMirror h6,
.ProseMirrorContent h6 {
  font-size: var(--font-10);
}
.ProseMirror h1:first-child,
.ProseMirrorContent h1:first-child {
  margin-top: var(--space-10);
}
.ProseMirror h2:first-child,
.ProseMirrorContent h2:first-child {
  margin-top: var(--space-10);
}
.ProseMirror h3:first-child,
.ProseMirrorContent h3:first-child {
  margin-top: var(--space-10);
}
.ProseMirror h4:first-child,
.ProseMirrorContent h4:first-child {
  margin-top: var(--space-10);
}
.ProseMirror h5:first-child,
.ProseMirrorContent h5:first-child {
  margin-top: var(--space-10);
}
.ProseMirror :first-child,
.ProseMirrorContent :first-child {
  margin-top: var(--space-10);
}

.ProseMirror code,
.ProseMirrorContent code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre,
.ProseMirrorContent pre {
  background: #0d0d0d;
  color: #fff;
  font-family: monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror pre code,
.ProseMirrorContent pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img,
.ProseMirrorContent img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote,
.ProseMirrorContent blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0d0d0d, 0.1);
}

.ProseMirror hr,
.ProseMirrorContent hr {
  border: none;
  border-bottom: 1px dashed var(--color-gray-40);
  margin: 1rem 0;
}
