.listEditor {
  /* style={{ background: "white", padding: 20, borderRadius: 15 }} */
  background: white;
  padding: var(--space-40);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-10);
}
