.pulseDot {
  position: absolute;
}

.pulseDot.topLeft {
  top: 0;
  left: 0;
}

.pulseDot.topRight {
  top: 0;
  right: 0;
}

.dot {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: var(--color-green-80);
  border-radius: 100%;
}

.pulse {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: var(--color-green-40);
  border-radius: 100%;
  animation-name: bounce;
  animation-duration: 1500ms;
  animation-delay: 200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}

@keyframes bounce {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(2.4);
  }
}
