.guestModal {
  min-width: 748px;
  position: relative;
}

@media screen and (max-width: 800px) {
  .guestModal {
    min-width: auto;
  }
}

.closeBtnContainer {
  position: sticky;
  top: 0;
  z-index: 10;
}
.closeBtn {
  position: absolute;
  top: var(--space-10);
  right: var(--space-10);
}

.content {
  position: relative;
  padding: var(--space-80);
}

.titleContainer {
  max-width: 42ch;
  padding-bottom: var(--space-40);
}

.subtitleContainer {
  max-width: 42ch;
  color: var(--color-gray-80);
}

.listsShapesContainer {
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .listsShapesContainer {
    display: none;
  }
}
.listsShapes {
  right: -120px !important;
}

.btns {
  display: flex;
  align-items: center;
  padding: var(--space-80) 0 var(--space-20);
}
@media screen and (max-width: 468px) {
  .btns {
    flex-direction: column;
  }
}
.signInBtnRoot {
  margin-right: var(--space-10);
}
@media screen and (max-width: 468px) {
  .signInBtnRoot {
    width: 100%;
    margin-right: 0;
    margin-bottom: var(--space-10);
  }
  .tryBtnRoot {
    width: 100%;
  }
}

.helperText {
  font-size: var(--font-10);
  max-width: 42ch;
  color: var(--color-gray-50);
}

.seePricingBtnRoot {
  padding: 0;
  margin: 0;
  display: inline;
  line-height: 0;
  margin-left: 0;
}

.seePricingBtnRoot:focus {
  box-shadow: none !important;
}

.seePricingBtn {
  color: var(--color-accent-50);
  font-size: var(--font-10);
  padding: 0;
}
