.page {
  position: relative;
  background: transparent;
}

.pageMain {
  max-width: 748px;
  margin: auto;
  position: relative;
}

.pageMain.wide {
  max-width: 980px;
}

.pageMain.withPadding {
  padding: var(--space-20) var(--space-40) var(--space-80) var(--space-40);
}

.pageMain.withoutPageControls {
  padding-top: calc(var(--space-90) * 2);
}
@media screen and (max-height: 600px) {
  .pageMain.withoutPageControls {
    padding-top: var(--space-90);
  }
}

/* PageTitle */
.pageTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--space-40);
}

.pageTitle.condenced {
  justify-content: flex-start;
}

.title {
  display: flex;
  align-items: center;
  padding-right: var(--space-20);
  color: var(--color-gray-90);
}

.titleIcon {
  color: var(--color-gray-80);
  margin-right: var(--space-20);
  background: var(--color-gray-7);
  padding: var(--space-10);
  width: 35px;
  height: 35px;
  border-radius: calc(var(--radius) / 2);
}
