.title {
  margin: 0;
  padding: 0;
  font-weight: var(--font-bold);
}

.title.uppercase {
  text-transform: uppercase;
}

.title.thin {
  font-weight: var(--font-thin);
}
.title.light {
  font-weight: var(--font-light);
}
.title.regular {
  font-weight: var(--font-regular);
}
.title.medium {
  font-weight: var(--font-medium);
}
.title.semiBold {
  font-weight: var(--font-semi-bold);
}
.title.bold {
  font-weight: var(--font-bold);
}
.title.black {
  font-weight: var(--font-black);
}

.title.size10 {
  font-size: var(--font-10);
}
.title.size20 {
  font-size: var(--font-20);
}
.title.size30 {
  font-size: var(--font-30);
}
.title.size40 {
  font-size: var(--font-40);
}
.title.size50 {
  font-size: var(--font-50);
}
.title.size60 {
  font-size: var(--font-60);
}
.title.size70 {
  font-size: var(--font-70);
}
.title.size80 {
  font-size: var(--font-80);
}
.title.size90 {
  font-size: var(--font-90);
}
