.button {
  display: flex;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  border-radius: calc(var(--radius) / 2);
  outline: none;
  text-decoration: none;
}

.button.center {
  align-items: center;
  justify-content: center;
}

.button.fullWidth {
  width: 100%;
}

.button:not(.noOutlineOnFocus):focus {
  box-shadow: var(--box-shadow-ring-10);
}

.noOutlineOnFocus:focus {
  box-shadow: 0 !important;
}

.disabled {
  box-shadow: 0 !important;
}

.button:hover {
  opacity: 0.7;
}

.buttonInner {
  padding: var(--space-10) var(--space-20);
  height: var(--button-height);
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: var(--font-20);
}

.buttonInner.withIcon {
  padding: var(--space-10) var(--space-20) var(--space-10) var(--space-10);
}

.buttonInner.iconOnly {
  padding: var(--space-10);
}

.buttonInner.iconOnly .icon {
  margin-right: 0 !important;
}

.buttonInner.withIcon .icon {
  margin-right: var(--space-10);
}

.buttonInner.narrow {
  padding: 1px !important;
  height: auto !important;
}

/* Variants */
.button.nostyleVariant {
  background: transparent;
}

.button.plainVariant {
  background: var(--color-btn-bg-plain);
}
.button.plainVariant:hover {
  opacity: 1;
  background: var(--color-btn-bg-plain-hover);
}

.button.basicVariant {
  background: var(--color-btn-bg-basic);
}

.button.primaryVariant {
  color: white;
  background: var(--color-btn-bg-primary);
}

.button.accentVariant {
  color: white;
  background: var(--color-btn-bg-accent);
}
.button.accentVariant.disabled {
  background: var(--color-gray-30) !important;
  cursor: auto !important;
  user-select: none !important;
  pointer-events: none !important;
}

.button.dangerVariant {
  background: var(--color-btn-bg-danger);
}
.button.dangerVariant.disabled {
  background: var(--color-gray-30) !important;
  cursor: auto !important;
  user-select: none !important;
  pointer-events: none !important;
}

.button.contextVariant {
  background: var(--color-btn-bg-plain);
  padding-left: var(--space-10);
  padding-right: var(--space-10);
  border-radius: 0 !important;
}
.button.contextVariant:hover {
  opacity: 1;
  background: var(--color-btn-bg-plain-hover);
}
.button.contextVariant:hover[disabled] {
  cursor: auto;
  background: transparent;
}
.button.contextVariant:focus {
  background: var(--color-btn-bg-plain-hover) !important;
}

.button.dimmed {
  color: var(--color-gray-50);
}

.button.narrow {
  padding: 4px;
  /* border-radius: px !important; */
}

.buttonInner.notClickable {
  cursor: auto;
}
.button.notClickable:hover {
  background: transparent;
}

.font10 {
  font-size: var(--font-10);
}
.font20 {
  font-size: var(--font-20);
}
.font25 {
  font-size: var(--font-25);
}
.font30 {
  font-size: var(--font-30);
  padding: var(--space-30);
}
.font40 {
  font-size: var(--font-40);
  padding: var(--space-40);
}
.font50 {
  font-size: var(--font-50);
  padding: var(--space-50);
}
.font60 {
  font-size: var(--font-60);
  padding: var(--space-60);
}
.font70 {
  font-size: var(--font-70);
  padding: var(--space-70);
}
.font80 {
  font-size: var(--font-80);
  padding: var(--space-80);
}
