.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: var(--space-20);
}

@media screen and (max-width: 648px) {
  .titleContainer {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.title {
  width: 100%;
  font-size: 1.8rem !important;
  font-weight: var(--font-semi-bold);
  padding-right: var(--space-20);
}

.descriptionContainer {
  display: block;
}

.description {
  width: 100%;
  font-size: 1.2rem !important;
}

.controls {
  display: flex;
  align-items: center;
  background: var(--color-gray-3);
  padding: var(--space-10);
  border-radius: var(--radius);
}

@media screen and (max-width: 648px) {
  .controls {
    margin-bottom: var(--space-40);
  }
}

.lock {
  cursor: auto;
  margin-right: var(--space-20);
}
