.root:focus {
  opacity: 0.8;
}

.root:focus .rail {
  box-shadow: var(--box-shadow-ring);
}

.innerRoot {
  padding: 0 !important;
  position: relative;
  width: 31px;
  height: 18px;
  border: 0;
  background: 0;
  margin: 0;
}

.rail {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: calc(var(--radius) * 2);
}

.innerRoot .rail.on {
  background: var(--color-toggle-on);
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background: white;
}

.innerRoot .rail.on .btn {
  left: 14px;
}

.innerRoot .rail.off {
  background: var(--color-toggle-off);
}

.innerRoot .rail.off .btn {
  left: 2px;
}

.rail.disabled {
  background: var(--color-gray-30) !important;
}
