.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-40);
}

@media screen and (max-width: 550px) {
  .controls {
    align-items: flex-start;
    flex-direction: column;
  }
  .controls .left {
    margin-bottom: var(--space-10);
  }
}

.separator {
  border: 0;
  border-bottom: 1px solid var(--color-gray-20);
  margin-bottom: var(--space-40);
}

.stackSkeleton {
  margin: 0;
  background: var(--color-gray-3) !important;
  background-color: var(--color-gray-3) !important;
}

.viewToggle {
  display: flex;
  align-items: center;
}

.viewLabel {
  color: var(--color-gray-80);
  font-size: var(--font-10);
  text-transform: uppercase;
  margin: 0 var(--space-10);
}
