.propertiesManager {
  position: relative;
  height: 100%;
}

.propertiesManager .main {
  padding: var(--space-20);
  height: 100%;
}

.content {
  display: block;
  padding-bottom: var(--space-20);
}

.footer {
  margin-top: var(--space-20);
  display: flex;
}

.submitBtn {
  margin-right: var(--space-10);
}

.markdownHint {
  margin: 0;
  padding-top: var(--space-10);
  font-size: var(--font-10);
  color: var(--color-gray-80);
}
