.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--space-20);
}

.modalContainer,
.itemPreviewContainer {
  width: var(--properties-modal-width);
}

@media screen and (max-width: 648px) {
  .modalContainer,
  .itemPreviewContainer {
    width: auto;
  }
}

.propertiesModalTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: var(--space-10);
  max-width: 340px;
}

@media screen and (max-width: 450px) {
  .propertiesModalTitle {
    max-width: 150px;
  }
}

.content {
  padding: var(--space-10) var(--space-20);
}
