.root {
  /* padding: var(--space-20); */
  border-radius: var(--radius);
}

.row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 50px; */
  flex: 1;
}

.push {
  margin-bottom: var(--space-30);
}

.name {
  flex: 1;
  color: var(--color-gray-90);
}

.btn {
  white-space: normal;
  font-size: var(--font-size-base);
}

.closeFormBtn {
  padding-left: var(--space-10);
}

.pulseDotContainer {
  position: absolute;
  top: -9px;
  right: -9px;
}

@media screen and (max-width: 420px) {
  .root {
    align-items: flex-start;
    background: white;
    border: 1px solid var(--color-gray-10);
  }

  .row {
    height: auto;
  }

  .left {
    flex-direction: column;
    align-items: flex-start;
  }

  .valueContainer {
    width: 100%;
  }

  .name {
    padding-bottom: var(--space-10);
  }
}
