.modal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding-left: var(--space-20);
  padding-right: var(--space-20);
}

.bg {
  z-index: 10;
  background: var(--color-gray-20);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal.center {
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .modal.center {
    padding-top: var(--space-20);
    align-items: flex-start;
    justify-content: center;
    height: auto;
  }
}

.modal.topCenter {
  padding-top: var(--space-20);
  justify-content: center;
  height: auto;
}

.modal.bottomRight {
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: var(--space-20);
}

.wrapper {
  max-width: 768px;
  min-width: 300px;
  max-height: 95vh;
}

.container {
  position: relative;
  max-height: 85vh;
  background: white;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-10);
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-height: 780px) and (max-width: 600px) {
  .container {
    max-height: 60vh;
  }
}

.helperContainer {
  margin-top: var(--space-10);
}

/* anim */
.animEnter {
  opacity: 0;
  transform: translateY(40px) scale(0.95);
}
.animEnterActive {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 200ms, transform 200ms;
}
.animExit {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.animExitActive {
  opacity: 0;
  transform: translateY(40px) scale(0.95);
  transition: opacity 200ms, transform 200ms;
}

.animBgEnter {
  opacity: 0;
}
.animBgEnterActive {
  opacity: 1;
  transition: opacity 200ms;
}
.animBgExit {
  opacity: 1;
}
.animBgExitActive {
  opacity: 0;
  transition: opacity 200ms;
}

.bgBlurContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.bgBlur {
  position: absolute !important;
  top: -700px !important;
  left: 0 !important;
  opacity: 0.1;
  transform: scale(2) rotate(10deg);
}
