.modalHeading {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-20);
  background: white;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.modalHeading.transparent {
  background: transparent !important;
}

.modalHeading.gradient {
  background: linear-gradient(#fff, transparent) !important;
}

.border {
  border-bottom: 1px solid var(--color-gray-10);
}
