.comingFromListEditorMessage {
  background: white;
  margin: 0 auto;
  max-width: 290px; /* same as auth forms */
  font-size: var(--font-20);
}

.check {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: var(--color-green-90);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  left: -10px;
}

/* anim */
.animEnter {
  opacity: 0;
  transform: translateY(50px) scale(0.95);
}
.animEnterActive {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 500ms, transform 500ms;
}
.animExit {
  transform: translateY(0) scale(1);
  opacity: 1;
}
.animExitActive {
  opacity: 0;
  transform: translateY(50px) scale(0.95);
  transition: opacity 500ms, transform 500ms;
}
