.form {
  max-width: 300px;
  background: white;
  padding: var(--space-40);
  box-shadow: var(--box-shadow-30);
  border-radius: var(--radius);
  min-width: 300px;
  max-height: 90vh;
  overflow: auto;
}

.title {
  text-align: center;
  padding-bottom: var(--space-20);
}

.footer {
  padding-top: var(--space-20);
}

.disclaimer {
  font-size: var(--font-10);
  color: var(--color-gray-80);
}

.link {
  font-size: var(--font-20);
  text-align: center;
}

.block {
  display: block;
}
