.highlightedRow {
  width: 100%;
  padding: var(--space-10);
  background: transparent;
  border-radius: var(--radius);
  margin-bottom: var(--space-10);
  outline: none;
}

.clickable {
  cursor: pointer;
}

.highlightedRow:hover {
  background: var(--color-gray-3);
}

.isActive {
  background: var(--color-gray-3);
}
