.bundle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: calc(var(--space-20) / 1);
  max-width: 400px;
}

.bundle {
  border-bottom: 1px solid var(--color-gray-10);
}

.bundle:hover {
  background: var(--color-gray-3);
}

.footer {
  display: flex;
  align-items: center;
  padding: var(--space-20);
}

.saveBtn {
  margin-right: var(--space-10);
}

.createBtn {
  padding: var(--space-10);
  border-radius: 0;
}

.input {
  box-shadow: none;
  background: var(--color-gray-3);
  border-radius: 0;
  padding: var(--space-20);
  padding-left: calc(var(--space-20) + 5px);
  border-bottom: 1px solid var(--color-gray-10);
}

.input:active,
.input:focus {
  box-shadow: none;
}

.noBundlesMsg {
  color: var(--color-gray-80);
  padding: var(--space-20);
  display: flex;
  align-items: flex-start;
}

.noBundlesMsg span {
  flex: 1;
  max-width: 32ch;
  font-size: var(--font-10);
}

.guestModalContent {
  max-width: 42ch;
}
