.bundle {
  color: var(--color-primary-80);
  font-size: var(--font-10);
  padding: 3px var(--space-20);
  border-radius: var(--radius);
  background: var(--color-primary-10);
  margin-right: var(--space-10);
  height: 25px;
  display: flex;
  align-items: center;
  margin-top: var(--space-10);
  text-decoration: none;
}

.bundle:hover,
.bundle:focus {
  background: var(--color-primary-20);
  outline: none;
}
