.lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-20);
}

@media screen and (max-width: 900px) {
  .lists {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 648px) {
  .lists {
    display: block;
  }
}

.noListsMessageContainer {
  color: var(--color-gray-80);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-gray-3);
  border-radius: var(--radius);
  padding: var(--space-80) var(--space-20);
}

.createYourFirstListBtnRoot {
  background: var(--color-gray-10) !important;
  margin-top: var(--space-20);
}

.createCard {
  background: transparent;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--color-gray-20);
  min-height: 150px;
}

@media screen and (max-width: 648px) {
  .createCard {
    margin-bottom: var(--space-20);
  }
}
