.listCardSkeletonContainer {
  border-radius: var(--radius);
  outline: none;
  position: relative;
  background: white;
  box-shadow: var(--box-shadow-10);
  transition: box-shadow var(--speed);
  padding: var(--space-40);
  cursor: pointer;
}

@media screen and (max-width: 648px) {
  .listCardSkeletonContainer {
    margin-bottom: var(--space-20);
  }
}

.listCardSkeletonContainer:hover,
.listCardSkeletonContainer:focus {
  box-shadow: var(--box-shadow-20);
}

.heading {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: var(--space-10);
}

.controls {
  margin-top: calc(var(--space-20) * -0.8);
  display: flex;
  align-items: center;
}

.title {
  padding-right: var(--space-20);
  transition: transform, var(--speed);
}
.listCardSkeletonContainer:hover .title {
  transform: scale(1.05);
}

.emoji {
  margin: 0;
  font-size: var(--font-60);
  padding-right: var(--space-10);
  transition: transform, var(--speed);
}
.listCardSkeletonContainer:hover .emoji {
  transform: scale(1.3) rotate(5deg);
}

.description {
  position: relative;
  min-height: 50px;
  max-height: 80px;
  overflow: hidden;
  color: var(--color-gray-80);
}

.descriptionFade {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(245, 245, 245, 0), #fff 100%);
}

.unsavedBtnContainer {
  position: absolute;
  top: var(--space-10);
  right: var(--space-10);
}

.skeleton {
  background: var(--color-gray-3) !important;
  background-color: var(--color-gray-3) !important;
  margin: 0;
}

.bundles {
  display: flex;
  align-items: flex-end;
  flex-flow: wrap;
  padding-top: var(--space-10);
}
