.unsavedListCard {
  position: relative;
  padding: var(--space-20);
  border-radius: var(--radius);
  /* margin-bottom: var(--space-20); */
  border: 1px dashed var(--color-gray-20);
}

.title {
  padding-bottom: var(--space-20);
  color: var(--color-gray-80);
}
