.formRow {
  display: block;
}

.bottomSpace {
  margin-bottom: var(--space-20);
}

.spaceBetween {
  justify-content: space-between;
}

.isInline {
  display: flex;
  align-items: center;
}

.background {
  padding: calc(var(--space-10) * 1.5);
  background: var(--color-gray-3);
  border-radius: calc(var(--radius) / 2);
  border: 1px solid var(--color-gray-10);
}
