.panel {
  padding: var(--space-40);
  background: white;
  border-radius: var(--radius);
  position: relative;
  box-shadow: var(--box-shadow);
  width: 100%;
}

.closeBtnContainer {
  position: absolute;
  top: var(--space-10);
  right: var(--space-10);
}
