.controlsRow {
  position: relative;
  display: flex;
  list-style: none;
  position: relative;
  user-select: none;
  margin-left: calc(-100px + calc(var(--space-10) * -1));
}

@media screen and (max-width: 950px) {
  .controlsRow {
    margin-left: 0;
  }
}

.controlsRow.fullWidth {
  width: 100% !important;
}

.controls {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100px;
  min-width: 100px;
  padding: var(--space-10) var(--space-10);
  margin-right: var(--space-10);
  background: white;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-30);
}

@media screen and (max-width: 950px) {
  .controls {
    visibility: initial;
    display: none;
  }
}

/* .controlsRow:hover .controls {
  visibility: visible;
} */

.controlsRow.active .controls {
  visibility: visible;
}

.control {
  margin-right: 3px;
}

.mobileControls {
  position: relative;
  display: none;
  margin-left: var(--space-10);
}

@media screen and (max-width: 950px) {
  .mobileControls {
    display: block;
  }
}

.big {
  font-size: var(--font-40) !important;
}
