.mainImgWrapper {
  padding: var(--space-80) 0;
}
.mainImgContainer {
  position: relative;
  width: 100%;
  height: 450px;
  transform: scale(1.1);
  overflow: hidden;
  border-radius: var(--radius);
  transition: transform var(--speed), box-shadow calc(var(--speed) / 2);
}
@media screen and (max-width: 600px) {
  .mainImgContainer {
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 800px) {
  .mainImgContainer {
    transform: scale(1);
  }
}

.mainImg {
  object-fit: cover;
}
.mainImg.cover_top {
  object-position: top;
}
.mainImg.cover_bottom {
  object-position: bottom;
}
.mainImg.cover_center {
  object-position: center;
}
.date {
  display: block;
  color: var(--color-gray-80);
  padding: var(--space-40) 0;
}
.content p,
.content li {
  font-size: var(--font-30);
}
.content h2 {
  margin-top: calc(var(--space-80) * 1.2);
  font-size: var(--font-50);
}
.content h3 {
  margin-top: calc(var(--space-80) * 1.2);
  font-size: var(--font-40);
}
.content h4 {
  margin-top: calc(var(--space-80) * 1.2);
  font-size: var(--font-30);
}
.content h5 {
  font-size: var(--font-25);
}
.content small {
  font-size: var(--font-10);
  color: var(--color-gray-80);
}
.content img {
  max-width: 100%;
  border-radius: var(--radius);
}

.description {
  margin-top: var(--space-20);
  margin-bottom: var(--space-20);
  color: var(--color-gray-80);
}
