.contextMenu {
  position: absolute;
  z-index: 10;
}

/* anim */
.animEnter {
  opacity: 0;
  transform: translateY(-10px) scale(0.95);
}
.animEnterActive {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 200ms, transform 200ms;
}
.animExit {
  transform: translateY(0) scale(1);
  opacity: 1;
}
.animExitActive {
  opacity: 0;
  transform: translateY(-10px) scale(0.95);
  transition: opacity 200ms, transform 200ms;
}
