.btnRoot:focus {
  box-shadow: none !important;
  background: var(--color-gray-5);
}

.soon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.soon .children {
  margin-right: var(--space-20);
  color: var(--color-gray-70);
}

.soonLabel {
  font-size: var(--font-10);
  text-transform: uppercase;
  background: var(--color-gray-10);
  color: var(--color-gray-30);
  padding: 2px;
  border-radius: 5px;
}

.icon {
  color: var(--color-gray-80);
}

.disabledIcon {
  color: var(--color-gray-40) !important;
}

.toggle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-10) var(--space-20);
}

.toggle .children {
  margin-right: var(--space-20);
}

.toggleIcon {
  color: var(--color-gray-70);
}
