.linkModal {
  width: 500px;
}

@media (max-width: 550px) {
  .linkModal {
    width: auto;
  }
}

.linkModal .content {
  display: flex;
  align-items: center;
}

.linkModal .inputContainer {
  width: 100%;
  padding-right: var(--space-10);
}
