.bundle {
  position: relative;
  cursor: pointer;
}
.bundle:focus {
  outline: none;
}

.title {
  transition: transform, var(--speed);
}
.bundle:hover .title {
  transform: scale(1.05);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  border-radius: var(--radius);
  outline: none;
  position: relative;
  background: white;
  transition: box-shadow var(--speed);
  padding: var(--space-40);
  box-shadow: var(--box-shadow);
  min-height: var(--bundle-card-min-height);
}

.container:hover,
.bundle:focus .container {
  box-shadow: var(--box-shadow-20);
}

.backgroundStack {
  border-radius: var(--radius);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 40px;
  opacity: 0.8;
  transform: scale(0.95) translateY(-7px);
  box-shadow: var(--box-shadow);
  transition: all, var(--speed);
}

.bundle:hover .backgroundStack {
  transform: scale(0.93) translateY(-9px) rotate(1.5deg);
}
