.bundlesStack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-20);
}

@media screen and (max-width: 748px) {
  .bundlesStack {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .bundlesStack {
    grid-template-columns: 1fr;
  }
}

.noBundlesMessage {
  width: auto;
  text-align: center;
}

.noBundlesMessage p {
  color: var(--color-gray-80);
}

.visibility {
  font-size: var(--font-30);
  background: var(--color-yellow-50);
}

.visibility[data-visibility="all"] {
  display: none;
}

.createCard {
  background: var(--color-gray-3);
  border: 1px dashed var(--color-gray-20);
  min-height: var(--bundle-card-min-height);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
}
