.tabsList {
  width: 100%;
  border-bottom: 1px dashed var(--color-gray-30);
}

.tab {
  cursor: pointer;
  background: transparent;
  border: 0;
  border-bottom: 3px solid transparent;
  padding: var(--space-20);
  font-size: var(--font-20);
  font-weight: var(--font-medium);
  color: var(--color-gray-80);
  outline: none;
  transition: all, var(--speed);
}

.tab:focus,
.tab:hover {
  border-bottom: 3px solid var(--color-gray-10);
}

.tab.active {
  border-bottom: 3px solid var(--color-accent-80);
  margin-bottom: -1px;
  color: var(--color-accent-100);
}
