.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.formContainer {
  flex: 1;
  width: 100%;
  padding-right: var(--space-10);
}

.propertyIconsContainer {
  padding-top: 10px;
}

.propertyIcon {
  color: var(--color-gray-50);
  margin: 0 calc(var(--space-10) / 2);
}

.controls {
  margin-top: 5px;
}
