.separator {
  width: 100px;
  margin: calc(var(--space-80) * 2) auto;
  display: flex;
  align-items: center;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: var(--color-gray-50);
  margin: 0 var(--space-20);
}
