.waitlistModal {
  width: 450px;
}

@media screen and (max-width: 648px) {
  .waitlistModal {
    width: 300px;
  }
}

.loader {
  position: absolute;
  top: var(--space-10);
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-gray-10);
  padding: var(--space-10);
  font-size: var(--font-10);
  color: var(--color-gray-70);
  border-radius: var(--radius);
}
