.propertyIconsContainer {
  padding-top: 5px;
  padding-left: var(--space-10);
}

.iconContainer {
  width: 35px;
  /* border: 1px solid red; */
  display: inline-flex;
  justify-content: flex-end;
}

.propertyIcon {
  color: var(--color-gray-50);
}

.linkBtnRoot {
  display: inline-block;
}
