.subscribeForm {
  overflow: hidden;
  position: relative;
  box-shadow: var(--box-shadow);
  padding: var(--space-80);
  border-radius: var(--radius);
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.titleContainer {
  padding-bottom: var(--space-20);
}

.btnsContainer {
  padding-top: var(--space-40);
  display: flex;
  align-items: center;
}
