.contentEditable {
  min-width: 200px;
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  background: white;
}

.placeholder {
  outline: none;
  color: var(--color-gray-placeholder);
  border: none;
  background-color: transparent;
  position: absolute;
  text-align: left;
  top: 6px;
  left: 4px;
  cursor: pointer;
}
