.checkbox {
  cursor: pointer;
  width: 21px;
  height: 21px;
  appearance: none;
  background-color: white;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  box-shadow: var(--box-shadow);
  margin-right: var(--space-20);
  transition: all, var(--speed);
  outline: none;
}

.checkbox:focus,
.checkbox:hover {
  box-shadow: var(--box-shadow-ring);
}

.checkbox:active {
  transform: scale(0.9);
}

.checkbox:checked {
  background-color: var(--color-primary-70);
}

.checkbox:checked:after {
  content: "\2714";
  font-size: var(--font-20);
  position: absolute;
  top: 1px;
  left: 4px;
  color: white;
}
