.key {
  padding: 7px;
  border-radius: var(--radius);
  background: white;
  box-shadow: var(--box-shadow-key);
  line-height: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 0;
}

.key .text {
  font-size: var(--font-10);
  font-weight: var(--font-medium);
}
