.maxSymbols {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4px;
  color: var(--color-gray-20);
  font-size: 0.9rem;
  height: 20px;
  width: var(--input-max-symbols-counter-width);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.withMaxSymbolsCounter {
  padding-right: calc(var(--input-max-symbols-counter-width) + 10px);
}

.fullWidth {
  width: 100%;
}

.error {
  display: block;
  margin-top: var(--space-10);
  color: var(--color-red-50);
}

.alignToInputText {
  padding-left: var(--input-padding-x);
}
