.tabs {
  box-shadow: var(--box-shadow-10);
  background: white;
  padding: calc(var(--space-10) / 2);
  border-radius: calc(var(--radius) * 2);
}
.tab {
  font-weight: var(--font-medium);
  color: var(--color-gray-50);
  font-size: var(--font-10);
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  border: none;
  margin-right: var(--space-10);
  border-radius: calc(var(--radius) * 2);
  padding: var(--space-10) var(--space-30);
}
.tab:hover {
  background: var(--color-gray-5);
}
.tab:last-child {
  margin-right: 0;
}
.tab.active {
  color: white;
  background: var(--color-primary-60);
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}
