.appMessage {
  padding: var(--space-20) var(--space-40);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rounded {
  border-radius: var(--radius);
}

.appMessage .message {
  font-size: var(--font-20);
  padding-right: var(--space-20);
}

.appMessage .message a {
  font-size: var(--font-20);
  text-decoration: underline;
}

.appMessage .closeBtnRoot {
  background: var(--color-gray-30);
}

.appMessage .closeBtn {
  color: #fff !important;
}

.basic {
  background: #000;
  color: white;
}
.info {
  background: var(--color-yellow-20);
}
