.articleCard {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  background: white;
  box-shadow: var(--box-shadow);
  padding: var(--space-40);
  margin-bottom: var(--space-20);
  border-radius: var(--radius);
  text-decoration: none !important;
  transition: box-shadow var(--speed);
}

@media screen and (max-width: 600px) {
  .articleCard {
    grid-template-columns: 1fr;
  }
}

.articleCard:hover {
  box-shadow: var(--box-shadow-20);
}

.dateContainer {
  display: flex;
  align-items: center;
  color: var(--color-gray-50);
  padding-top: var(--space-10);
}
.dateContainer * {
  font-size: var(--font-10);
}

.articleCard:hover .mainImgContainer {
  transform: rotate(-1deg) scale(1.01);
  box-shadow: var(--box-shadow-30);
}

.mainImgContainer {
  position: relative;
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: var(--radius);
  transition: transform var(--speed), box-shadow calc(var(--speed) / 2);
}
@media screen and (max-width: 600px) {
  .mainImgContainer {
    width: 100%;
    height: 300px;
  }
}

.mainImg {
  object-fit: cover;
}
.mainImg.cover_top {
  object-position: top;
}
.mainImg.cover_bottom {
  object-position: bottom;
}
.mainImg.cover_center {
  object-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-left: var(--space-40);
}

@media screen and (max-width: 600px) {
  .content {
    padding-left: 0;
    padding-top: var(--space-40);
  }
}

.main {
  flex: 1;
  height: 100%;
  padding-bottom: var(--space-20);
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.description {
  padding-top: var(--space-20);
  color: var(--color-gray-80);
}
