.modalContainer,
.itemPreviewContainer {
  width: var(--properties-modal-width);
}

@media screen and (max-width: 648px) {
  .modalContainer,
  .itemPreviewContainer {
    width: auto;
  }
}

.itemPreviewContainer {
  padding-bottom: var(--space-10);
}

.itemPreview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow-30);
  padding: var(--space-20);
  border-radius: var(--radius);
  background: white;
}

.itemTitle {
  padding-right: var(--space-10);
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 60px;
  overflow: hidden;
}
