.breadcrumbs li,
.breadcrumbs li a {
  font-size: var(--font-10);
  color: var(--color-gray-70);
}

.breadcrumbs ol {
  display: flex;
  align-items: center;
  padding: 0;
}

.breadcrumbs ol li {
  list-style-type: none;
  padding-right: var(--space-10);
}

.breadcrumbs ol li::before {
  content: ">";
  padding-right: var(--space-10);
}

.breadcrumbs ol li:first-child::before {
  content: "";
  padding-right: 0;
}
