.notification {
  background: white;
  padding: var(--space-20);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  box-shadow: var(--box-shadow-30);
}

.notification .content {
  padding-right: var(--space-20);
  font-size: var(--font-20) !important;
}

.success {
  background: var(--color-bg-notification-success);
  color: var(--color-notification-success);
}

.error {
  background: var(--color-bg-notification-error);
  color: var(--color-notification-error);
}

.removeBtnRoot {
  box-shadow: var(--box-shadow-ring-10);
}
.removeBtn {
  color: white;
}

/* anim */
.animEnter {
  opacity: 0;
  transform: translateY(10px) scale(0.95);
}
.animEnterActive {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 200ms, transform 200ms;
}
.animExit {
  transform: translateY(0) scale(1);
  opacity: 1;
}
.animExitActive {
  opacity: 0;
  transform: translateY(10px) scale(0.95);
  transition: opacity 200ms, transform 200ms;
}
