.priceBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--space-10) 0 calc(var(--space-80) * 1.4) 0;
}

.priceBox .price {
  display: block;
  font-size: var(--font-70);
  font-weight: var(--font-light);
}

.priceBox .subtext {
  display: block;
  font-size: var(--font-30);
  font-weight: var(--font-light);
}

.priceBox .btnRoot {
  margin-top: var(--space-60);
  height: auto;
  padding: var(--space-10) var(--space-20);
}

.priceBox .btn {
  font-size: var(--font-40) !important;
}

.priceBox .btnIcon {
  font-size: var(--font-60) !important;
}

.unlocks {
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--radius);
  padding: var(--space-10);
  background: white;
  box-shadow: var(--box-shadow);
  font-size: var(--font-10);
}

/* List */
.listContainer {
  position: relative;
  background: var(--color-gray-5);
  margin-left: calc(var(--space-20) * -1);
  margin-right: calc(var(--space-20) * -1);
  margin-bottom: calc(var(--space-20) * -1);
  padding: var(--space-20);
  border-top: 1px solid var(--color-gray-20);
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-20);
  padding: 0 var(--space-20);
}

@media screen and (max-width: 648px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .list {
    grid-template-columns: 1fr;
  }
}

.list .soon {
  background: var(--color-yellow-30);
  display: inline-block;
  top: 5px;
  right: 5px;
  padding: calc(var(--space-10) / 2) var(--space-10);
  border-radius: var(--radius);
  font-size: var(--font-10);
}

.list li {
  position: relative;
  list-style: none;
  background: white;
  border: 1px solid var(--color-gray-15);
  border-radius: var(--radius);
  padding: var(--space-20);
}

.list li .emoji {
  display: block;
  font-size: var(--font-70);
}

.list li .subtext {
  font-size: var(--font-20);
  padding-top: var(--space-10);
  color: var(--color-gray-80);
  margin: 0;
}

.reason {
  border-top: 1px solid var(--color-yellow-90);
  background: var(--color-yellow-20);
  padding: var(--space-60);
  padding-bottom: var(--space-80);
  margin-left: calc(var(--space-20) * -1);
  margin-right: calc(var(--space-20) * -1);
  margin-top: calc(var(--space-60) * -1);
  /* margin-bottom: var(--space-20); */
}
