.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: calc(var(--space-20) * -1);
  margin-right: calc(var(--space-20) * -1);
  padding: var(--space-10) var(--space-20) var(--space-10) var(--space-20);
  max-width: var(--list-settings-manager-max-width);
  min-width: var(--list-settings-manager-min-width);
}

.row .left {
  display: flex;
  align-items: flex-start;
  padding-right: var(--space-40);
}

.row .left .label {
  padding-top: 2px;
}

.row .right {
  padding-top: 8px;
}

.selectedBundlesCount {
  font-size: var(--font-10);
  margin-left: var(--space-10);
  font-weight: var(--font-medium);
  color: var(--color-gray-70);
}

.selectedBundlesList {
  font-size: var(--font-10);
  color: var(--color-gray-50);
  max-width: 20ch;
}
