.listSettings {
  position: absolute;
  top: var(--space-10);
  right: var(--space-10);
  z-index: 10;
}

.minimizedRow {
  display: flex;
  align-items: center;
}

.listVisibility {
  display: flex;
  align-items: center;
  position: relative;
  font-size: var(--font-20);
  font-weight: var(--font-medium);
  color: var(--color-gray-80);
  padding-right: var(--space-20);
}

.container {
  margin-left: var(--space-40);
  padding: var(--space-20);
  background: white;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-30);
}

.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--space-20);
}

.title {
  padding-right: var(--space-20);
  color: var(--color-gray-80);
}

.settingsBtn {
  border-radius: calc(var(--radius) * 2);
}

.settingsIcon {
  font-size: var(--font-50);
}

/* anim */
.animEnter {
  opacity: 0;
  transform: translateY(40px) scale(0.95);
}
.animEnterActive {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 200ms, transform 200ms;
}
.animExit {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.animExitActive {
  opacity: 0;
  transform: translateY(40px) scale(0.95);
  transition: opacity 200ms, transform 200ms;
}
