@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
  --color-text: black;

  --color-gray-3: rgb(79 93 117 / 3%);
  --color-gray-3-solid: #fafafb;
  --color-gray-5: rgb(79 93 117 / 5%);
  --color-gray-7: rgb(79 93 117 / 7%);
  --color-gray-10: rgb(79 93 117 / 10%);
  --color-gray-15: rgb(79 93 117 / 15%);
  --color-gray-20: rgb(79 93 117 / 20%);
  --color-gray-30: rgb(79 93 117 / 30%);
  --color-gray-40: rgb(79 93 117 / 40%);
  --color-gray-50: rgb(79 93 117 / 50%);
  --color-gray-60: rgb(79 93 117 / 60%);
  --color-gray-70: rgb(79 93 117 / 70%);
  --color-gray-80: rgb(79 93 117 / 80%);
  --color-gray-90: rgb(79 93 117 / 90%);

  --color-primary-10: rgb(37 37 99 / 10%);
  --color-primary-20: rgb(37 37 99 / 20%);
  --color-primary-30: rgb(37 37 99 / 30%);
  --color-primary-40: rgb(37 37 99 / 40%);
  --color-primary-50: rgb(37 37 99 / 50%);
  --color-primary-60: rgb(37 37 99 / 60%);
  --color-primary-70: rgb(37 37 99 / 70%);
  --color-primary-80: rgb(37 37 99 / 80%);
  --color-primary-90: rgb(37 37 99 / 90%);
  --color-primary-100: rgb(37 37 99 / 100%);
  --color-primary: var(--color-primary-100);

  --color-accent-10: rgb(239 126 117 / 10%);
  --color-accent-20: rgb(239 126 117 / 20%);
  --color-accent-30: rgb(239 126 117 / 30%);
  --color-accent-40: rgb(239 126 117 / 40%);
  --color-accent-50: rgb(239 126 117 / 50%);
  --color-accent-60: rgb(239 126 117 / 60%);
  --color-accent-70: rgb(239 126 117 / 70%);
  --color-accent-80: rgb(239 126 117 / 80%);
  --color-accent-90: rgb(239 126 117 / 90%);
  --color-accent-100: rgb(239 126 117 / 100%);
  --color-accent: var(--color-accent-100);

  --color-red-10: rgb(210 30 15 / 10%);
  --color-red-20: rgb(210 30 15 / 20%);
  --color-red-30: rgb(210 30 15 / 30%);
  --color-red-40: rgb(210 30 15 / 40%);
  --color-red-50: rgb(210 30 15 / 50%);
  --color-red-60: rgb(210 30 15 / 60%);
  --color-red-70: rgb(210 30 15 / 70%);
  --color-red-80: rgb(210 30 15 / 80%);
  --color-red-90: rgb(210 30 15 / 90%);
  --color-green-10: rgb(35 155 50 / 10%);
  --color-green-20: rgb(35 155 50 / 20%);
  --color-green-30: rgb(35 155 50 / 30%);
  --color-green-40: rgb(35 155 50 / 40%);
  --color-green-50: rgb(35 155 50 / 50%);
  --color-green-60: rgb(35 155 50 / 60%);
  --color-green-70: rgb(35 155 50 / 70%);
  --color-green-80: rgb(35 155 50 / 80%);
  --color-green-90: rgb(35 155 50 / 90%);
  --color-yellow-10: rgb(250 230 30 / 10%);
  --color-yellow-20: rgb(250 230 30 / 20%);
  --color-yellow-30: rgb(250 230 30 / 30%);
  --color-yellow-40: rgb(250 230 30 / 40%);
  --color-yellow-50: rgb(250 230 30 / 50%);
  --color-yellow-90: rgb(250 230 30 / 90%);
  --color-yellow-100: rgb(250 230 30 / 100%);

  --color-gray-placeholder: hsl(0, 0%, 49%);

  --color-btn-bg-plain: transparent;
  --color-btn-bg-plain-hover: var(--color-gray-5);
  --color-btn-bg-basic: linear-gradient(
    var(--color-gray-5),
    var(--color-gray-7)
  );
  --color-btn-bg-primary: linear-gradient(
    var(--color-primary-60),
    var(--color-primary-70)
  );
  --color-btn-bg-accent: linear-gradient(
    var(--color-accent-90),
    var(--color-accent-100)
  );
  --color-btn-bg-danger: var(--color-red-10);
  --color-toggle-on: linear-gradient(
    var(--color-green-90),
    var(--color-green-80)
  );
  --color-toggle-off: linear-gradient(var(--color-red-90), var(--color-red-70));
  --color-bg-notification-success: hsl(137, 45%, 60%, 100%);
  --color-notification-success: white;
  --color-bg-notification-error: hsl(0, 60%, 60%, 100%);
  --color-notification-error: white;

  --box-shadow-ring: var(--box-shadow-ring-10);
  --box-shadow-ring-10: 0px 0 0 3px var(--color-primary-10);
  --box-shadow-ring-20: 0px 0 0 3px var(--color-primary-20);

  --box-shadow: var(--box-shadow-10);
  --box-shadow-10: var(--color-gray-10) 0px 1px 1px 0px,
    var(--color-gray-7) 0px 0px 0px 1px, var(--color-gray-10) 0px 2px 5px;
  --box-shadow-20: var(--color-gray-10) 0px 1px 1px 0px,
    var(--color-gray-7) 0px 0px 0px 1px, var(--color-gray-10) 0px 10px 21px;
  --box-shadow-30: var(--color-gray-10) 0px 1px 1px 0px,
    var(--color-gray-7) 0px 0px 0px 1px, var(--color-gray-10) 0px 20px 55px;

  --box-shadow-key: var(--color-gray-10) 0px 1px 1px 0px,
    var(--color-gray-20) 0px 0px 0px 1px, var(--color-gray-10) 0px 2px 5px,
    var(--color-gray-30) 0px 2px 1px 1px;

  --space-5: 0.2rem;
  --space-10: 0.4rem;
  --space-20: 0.8rem;
  --space-30: 1.125rem;
  --space-40: 1.3rem;
  --space-50: 1.5rem;
  --space-60: 1.9rem;
  --space-70: 2.25rem;
  --space-80: 2.5rem;
  --space-90: 3rem;

  --font-5: 0.7rem;
  --font-10: 0.8rem;
  --font-20: 0.9rem;
  --font-25: 1rem;
  --font-30: 1.125rem;
  --font-40: 1.3rem;
  --font-50: 1.5rem;
  --font-60: 1.9rem;
  --font-70: 2.25rem;
  --font-80: 2.5rem;
  --font-90: 3rem;
  --font-size-base: var(--font-25);

  --font-thin: 100;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 700;
  --font-bold: 800;
  --font-black: 900;

  --radius: 12px;
  --input-padding-y: 8px;
  --input-padding-x: 12px;
  --input-max-symbols-counter-width: 70px;
  --bundle-card-min-height: 80px;
  --button-height: 35px;
  --page-controls-btn-height: var(--button-height);
  --page-controls-btn-width: 35px;
  --speed: 0.15s;
  --properties-modal-width: 648px;
  --list-settings-manager-max-width: 280px;
  --list-settings-manager-min-width: 240px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: var(--font-size-base);
  height: 100%;
}

body {
  background: var(--color-gray-5);
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-base);
}

.noscroll {
  overflow: hidden;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

::-moz-selection {
  /* Code for Firefox */
  background: var(--color-primary-10);
}

::selection {
  background: var(--color-primary-10);
}

.tooltip {
  padding: 0 !important;
  background: hsl(218 19% 85%) !important;
  color: var(--color-text) !important;
  font-size: var(--font-10) !important;
}
.tooltip .tippy-content * {
  font-size: var(--font-10) !important;
}

[draggable]:focus {
  outline: none;
}
