/* Root */

.root a {
  color: var(--color-primary-90);
  text-decoration: underline;
}

.root a:hover {
  text-decoration: none;
}

/* Root.Footer */

.root footer {
  color: var(--color-gray-80);
  text-align: center;
  padding: var(--space-90);
}

/* Container */

.container {
  max-width: 648px;
  padding: 0 var(--space-20);
  margin: auto;
}

/* Top shapes container */

.topShapesContainer {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  user-select: none;
  overflow: hidden;
}

/* Heading */

.heading {
  padding: calc(var(--space-90) * 3) var(--space-40);
  max-width: 72ch;
  margin: auto;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 648px) {
  .heading {
    padding: calc(var(--space-90) * 3) var(--space-40)
      calc(var(--space-90) * 1.5) var(--space-40);
  }
}

.heading h1,
.heading h2,
.heading h3 {
  margin: 0;
}

.heading h2,
.heading h3 {
  font-weight: var(--font-regular);
  color: var(--color-gray-80);
}

.heading h1 {
  font-size: var(--font-70);
  line-height: 1.2em;
  padding-bottom: var(--space-40);
}

@media (max-width: 648px) {
  .heading h1 {
    font-size: var(--font-60) !important;
    padding-bottom: var(--space-20);
  }
}

.heading h2 {
  font-size: var(--font-40);
}

@media (max-width: 648px) {
  .heading h2 {
    font-size: var(--font-20);
  }
}

.heading h3 {
  margin-top: var(--space-40);
}

.heading .footer {
  display: flex;
  flex-direction: column;
  padding-top: var(--space-80);
}

.heading .footer .buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading .smallTextUnderCta {
  padding-top: var(--space-20);
  color: var(--color-gray-70);
  font-size: var(--font-10);
}

.highlight {
  background: var(--color-yellow-10);
  font-size: var(--font-10);
  padding: 3px;
}

/* Box */

.box {
  padding: var(--space-40);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-30);
  background: white;
}

.boxTitle {
  margin: 0;
  padding-bottom: var(--space-30) !important;
  text-align: center;
}

/* What can you do with it? */

.whatCanYouDoWithIt {
  padding-bottom: var(--space-90);
}

@media (max-width: 648px) {
  .whatCanYouDoWithIt {
    padding-bottom: var(--space-60);
  }
}

.whatCanYouDoWithIt .list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.whatCanYouDoWithIt .list li {
  padding: var(--space-20) 0;
  display: flex;
  align-items: center;
}

.showMoreBtnsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--space-40);
}

.whatCanYouDoWithIt .iconContainer {
  margin-right: var(--space-20);
}

/* Features */

.featureRow {
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--space-80);
}

.featureRow:last-child {
  padding-bottom: 0;
}

.featureRow .title {
  font-weight: var(--font-medium);
  margin: 0;
  padding: 0;
  padding-bottom: var(--space-10);
  display: inline-block;
}

.featureRow .content .subtitle {
  color: var(--color-gray-80);
}

.featureRow .content .subtitle p {
  margin: 0;
}

/* Icons */

.iconContainer {
  display: flex;
  align-items: center;
  justify-self: center;
  background: var(--color-gray-5);
  border-radius: var(--radius);
  width: fit-content;
  padding: var(--space-10);
  margin-right: var(--space-20);
}

.icon {
  width: 30px;
  height: 30px;
  display: block;
  color: var(--color-primary-70);
}

/* Call to action */

.ctaBtn {
  padding: var(--space-20) var(--space-60);
}

.ctaBtnInner {
  font-size: var(--font-30);
  font-weight: var(--font-regular);
}

@media (max-width: 648px) {
  .ctaBtnInner {
    font-size: var(--font-20);
    font-weight: var(--font-medium);
  }
}

.ctaWrapper {
  padding-top: var(--space-70);
  margin-top: -10px;
}

.cta {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-primary-90);
  color: white;
  border-radius: var(--radius);
  padding: var(--space-80);
  transition: all 3s;
}

.cta h4 {
  font-size: var(--font-60);
  padding-bottom: var(--space-10);
  margin: 0;
}

.cta p {
  margin: 0;
  padding-bottom: var(--space-80);
}

/* Separator */
.separator {
  border: none;
  border-bottom: 1px dashed var(--color-gray-30);
}
