.inputField {
  padding: var(--input-padding-y) var(--input-padding-x);
  border-radius: calc(var(--radius) / 2);
  outline: none;
  resize: none;
  cursor: pointer;
  border: 0;
  box-shadow: var(--box-shadow);
}

.inputField::-webkit-scrollbar {
  display: none;
}

.inputField:focus,
.inputField:active,
.inputField.invisibleBorders:focus,
.inputField.invisibleBorders:active {
  box-shadow: var(--box-shadow-ring);
  cursor: auto;
}

.inputField.invisibleBorders {
  box-shadow: none;
  border: none;
}

/* Uncomment to style the input on error state */
/* .error {
} */
