.madeWithNulistTag {
  position: fixed;
  bottom: var(--space-30);
  right: var(--space-30);
  font-size: var(--font-10);
}

.btnRoot {
  box-shadow: var(--box-shadow);
  font-size: var(--font-10);
  color: var(--color-gray-80);
}
