.input {
  margin: 0;
  background: transparent !important;
  box-shadow: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: var(--font-30) !important;
}

.placeholder {
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: var(--font-30) !important;
}
