.input {
    margin: 0;
    background: transparent !important;
    box-shadow: none !important;
    padding-left: 1px !important;
    padding-right: 0 !important;
    font-size: var(--font-30);
    min-width: fit-content !important;
}