.box {
  background: var(--color-gray-5);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  color: var(--color-gray-70);
}

.box.pushRight {
  margin-right: var(--space-20);
}

.dimmed {
  color: var(--color-gray-50);
}
